@import '~@central-design-system/components/src/scss';

.app-header {
  width: 100%;
  height: toRem(50px);
  background: #1a1a1a;
  border: 1px solid #383838;
  padding: $cds-spacing-xs;

  .logo {
    display: flex;
    align-items: center;
    margin-right: $cds-spacing-xs;
  }

  .title {
    font-size: var(--cds-font-heading-4);
    color: var(--cds-color-text-inverse);
    margin-right: $cds-spacing-m;
  }

  .tags {
    .cds-tag {
      margin-right: $cds-spacing-xs;
      color: var(--cds-color-text-primary);
      font-size: var(--cds-font-body-size-xs);
    }
  }

  .versions {
    display: flex;
    align-items: center;
    justify-content: center;

    .control {
      display: flex;
      align-items: center;
      margin: 0 $cds-spacing-xs;

      .cds-dropdown {
        width: 150px;
      }

      > span {
        color: var(--cds-color-text-inverse);
        margin-right: $cds-spacing-xs;
      }
    }

    select {
      margin-right: $cds-spacing-xs;
    }
  }

  .themes {
    .control {
      .cds-dropdown {
        width: 100px;
      }
    }
  }

  .actions {
    button {
      margin-left: $cds-spacing-xs;
      border: none;
    }

    .svg-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
